@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");
header {
  background-color: red;
}

.nav-container {
  background-color: blue;
  display: flex;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.nav-container .favicon {
  display: flex;
  align-items: center;
}
.nav-container .favicon .logo-profile {
  max-width: 48px;
  border-radius: 50%;
  padding-right: 5px;
}
.nav-container .favicon .logo-text {
  color: black;
  text-decoration: none;
  display: flex;
  height: 27px;
  align-items: center;
}
.nav-container .favicon .logo-text h4 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}
.nav-container .nav-list {
  background-color: red;
  padding: 0;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
.nav-container .nav-list .nav-object {
  background-color: yellow;
  list-style: none;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.footer-container {
  background-color: rgba(131, 80, 38, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.footer-container .footer-networks {
  background-color: rgba(38, 117, 131, 0.5);
  display: flex;
  font-size: 40px;
  list-style: none;
  padding: 0;
}
.footer-container .footer-networks .footer-network {
  padding: 10px;
}
.footer-container .footer-up {
  font-size: 40px;
  color: yellow;
}
.footer-container .footer-copyright {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
}

.intro-content {
  background-color: silver;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 20px 0;
}
.intro-content .intro-header {
  background-color: yellow;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}
.intro-content .intro-body {
  background-color: blue;
  font-size: 40px;
  margin: 0;
}
.intro-content .intro-footer {
  background-color: red;
}

.about-container {
  background-color: yellow;
  text-align: center;
  padding-bottom: 20px;
}
.about-container .about-header {
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  padding-top: 10px;
}
.about-container .about-profile {
  width: 170px;
  border-radius: 50%;
}
.about-container .about-body {
  font-family: "Rubik", sans-serif;
}
.about-container .skills-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  background-color: aqua;
  margin: 0 auto;
}
.about-container .skills-container .skills-title {
  width: 100%;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}
.about-container .skills-container .skills-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.about-container .skills-container .skills-cards .skill-item {
  width: 25%;
  margin: 0 auto;
}
.about-container .skills-container .skills-cards .skill-item .fa-paw, .about-container .skills-container .skills-cards .skill-item .fa-microchip, .about-container .skills-container .skills-cards .skill-item .fa-code {
  font-size: 30px;
}
.about-container .skills-container .skills-cards .skill-item .skill-text {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  width: 100%;
}

.services-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 15px 0;
}
.services-container .services-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28px;
}
.services-container .service-card .fa-laptop-code, .services-container .service-card .fa-paintbrush {
  font-size: 50px;
  padding: 5px;
}
.services-container .service-card .service-head {
  font-size: 22px;
  font-weight: 500;
}
.services-container .service-card .service-body {
  padding: 0 10px;
}

.resume-container {
  background-color: yellow;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 10px 0;
}
.resume-container .resume-title {
  text-transform: uppercase;
}
.resume-container .resume-button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.resume-container .resume-button .button-item {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  border-style: solid;
  border-radius: 10px;
  padding: 2%;
}

.contact-container {
  background-color: yellow;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 5% 0;
  font-family: "Rubik", sans-serif;
}
.contact-container .fa-paper-plane {
  font-size: 40px;
}
.contact-container .contact-title {
  font-size: 20px;
}
.contact-container .contact-button {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  border-style: solid;
  border-radius: 10px;
  padding: 2%;
}

/*# sourceMappingURL=styles.css.map */
