@import "../utilities/variables";

.about-container {
    background-color: yellow;
    text-align: center;
    padding-bottom: 20px;
    .about-header {
        text-transform: uppercase;
        font-family: $font-global;
        padding-top: 10px;
    }
    
    .about-profile {
        width: 170px;
        border-radius: 50%;
    }
    
    .about-body {
        font-family: $font-global;
    }
    //container-skills
    .skills-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        background-color: aqua;
        margin: 0 auto;
        .skills-title {
            background-color: blue;
            width: 100%;
            font-family: $font-global;
            text-transform: uppercase;
        }
        .skills-cards {
            background-color: red;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            width: 100%;
            .skill-item {
                background-color: aqua;
                width: 25%;
                margin: 0 auto;
                .skill-icon {
                    width: 40px;
                }
                .skill-text {
                    font-family: $font-global;
                    font-size: 14px;
                    width: 100%;
                }
            }
        }
    }
}  


