@import "../utilities/variables";

.about-container {
    background-color: aqua;
    text-align: center;
    .about-header {
        text-transform: uppercase;
        font-family: $font-global;
    }
    
    .about-profile {
        width: 170px;
        border-radius: 50%;
    }
    
    .about-body {
    }
}