.services-container {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $font-global;
    margin: 15px 0;
    .services-title {
        font-weight: $weight-4;
        text-transform: uppercase;
        font-size: 28px;
    }
    .service-card {
        .fa-laptop-code, .fa-paintbrush {
            font-size: 50px;
            padding: 5px;
        }
        .service-head {
            font-size: 22px;
            font-weight: $weight-3;
        }
        .service-body {
            padding: 0 10px;
        }
    }
    
}